---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';
import heroImage from '~/assets/images/hero-image-team.png';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  {/* The 'class' prop on <Hero> sets up a 2-column grid layout for larger screens and makes it screen-height. */}
  <Hero
    tagline="About us"
    class="min-h-screen grid lg:grid-cols-2 items-center"
    image={{
      src: heroImage,
      alt: 'Illustration of the Moxin LLM team working at their desks',
      // The 'class' prop on the image ensures it fills its grid container.
      class: 'h-full w-full object-cover',
    }}
  >
    <Fragment slot="title">
      The<span class="text-accent dark:text-white"> Moxin LLM</span> Team
    </Fragment>

    <Fragment slot="subtitle">
      Researchers from Northeastern, Harvard, Cornell, Tulane, and partners dedicated to truly open-source AI. <br /><br />We ensure full transparency in models, code, and data, empowering the research community.
    </Fragment>
  </Hero>
</Layout>