---
export interface Props {
  locale: string;
}
const { locale = 'en' } = Astro.props;
const text = locale === 'cn' ? '返回博客' : 'Back to blog';
---
<div class="mx-auto px-6 sm:px-6 max-w-3xl pt-8 md:pt-4 pb-12 md:pb-20">
  <a href={`/${locale}/blog/`} class="inline-block text-primary hover:underline">
    ← {text}
  </a>
</div>
